<%- include('../partials/head') %>
    <h1>FORMULARIO DE ALTA</h1>

    <p>
        <a href="/work-socials"> LISTADO</a>
    </p>
    <div>
        <form action="" method="POST">
            <p>
                <label for="">Nombre</label>
                <input type="text" name="name" placeholder="Nombre">
            </p>
        <input type="submit" value="Enviar">
        </form>
    </div>
<%- include('../partials/footer') %>